* {
    margin: 0px;
    padding: 0px;
}

ul,
ol {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

a:active {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

.wrap {
    width: 1300px;
    margin: 0px auto;
}

.topMove>img{
    width: 60px;
    /* display: none; */
    position: fixed;
    right: 100px;
    bottom: 10%;
    overflow: auto;
}