/* content 사이드 */
.ss-content .content-side {
    border: 1px solid #000;
    width: 300px;
    float: left;
}
/* content 컨텐츠메인부분 */
.ss-content .content-main {
    border : 1px solid #000;
    width: 988px;
    float: left;
}