body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin: 0; padding: 0;}

#full{
    width: 1300px;
    margin: 0 auto;
}

#contentNav{
    width: 342px;
    float: left;
    text-align: center;
}

#contentNav>h2{
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: inherit;
}

#contentMain{
    margin-top: 30px;
    width: 958px;
    float:right;
}

#graph{
    margin-bottom: 20px;
}


.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}

.clearfix:after {
    clear:both;
}



#pp{
    width: 460px;
    float: left;
    margin-left: 15px;
    
}

.ppp{
    margin-right: 10px;
    width: 460px;
    height: 104px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border: none;
    border-collapse: collapse;
}

table tr>td{
    border: none;
}

.bx{
    width: 460px;
    padding-left: 20px;
}

.bb{
    width: 480px;
    float: left;
}

.bbb{
    width: 460px;
    padding-left: 20px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border-collapse: collapse;
    float: right;
}

.img{
    width: 100px;
    height: 100px;
}

.nick{
    vertical-align: bottom;
    text-align: center;
    width: 120px;
}
.nick2{
    vertical-align: bottom;
    text-align: center;
}

.state{
    width: 60px;
    margin-top: 18px;
    border: none;
}

.word{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 263px;
}

#chartContent{
    width: 600px;
    float: left;
}

#chart{
    width: 300px;
}

#eee{
    font-size: 35px;
    font-weight: bold;
    padding-top: 40px;
    margin-bottom: 20px;
    padding-left: 30px;
}

#www{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

#www>span{
    font-size: 30px;
}

#line{
    border-top: 1px solid #aaaaaa;
    width: 920px;
    margin-left: 20px;
}

#aside {width: 250px; height: 60px; line-height: 60px; font-size: 20px; font-weight: bold; text-align: center; margin-left: 25px; font-size: 25px;}

#size{
    width: 960px;
}