body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin: 0; padding: 0;}

#full{
    width: 1300px;
    margin: 0 auto;
}

#contentNav{
    width: 342px;
    float: left;
    text-align: center;
}

#contentNav>h2{
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: inherit;
}

#contentMain{
    margin-top: 30px;
    width: 958px;
    float:right;
}

#graph{
    margin-bottom: 20px;
    width: 920px;
    height: 500px;
}


.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}

.clearfix:after {
    clear:both;
}



#pp{
    width: 460px;
    float: left;
    margin-left: 15px;
    
}

.ppp{
    margin-right: 10px;
    width: 460px;
    height: 104px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border: none;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.ppp tr{
    border: none;
}

.ppp tr>td{
    border: none;
}

.bbb{
    border: none;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  
  
}

.bbb tr{
    border: none;
}

.bbb tr>td{
    border: none;
}

.bx{
    width: 460px;
    padding-left: 20px;
}

.bb{
    width: 480px;
    float: left;
}

.bbb{
    width: 460px;
    padding-left: 20px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border-collapse: collapse;
    float: right;
}

.img{
    width: 100px;
    height: 100px;
    padding-left: 5px;
    padding-top: 2px;
}

.nick{
    vertical-align: bottom;
    text-align: center;
    width: 120px;
}
.nick2{
    vertical-align: bottom;
    text-align: center;
}

.nick2>button{
    background-color: #6bcbff;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.state{
    width: 60px;
    margin-top: 18px;
    border: none;
}

.word{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 263px;
}

#chartContent{
    width: 600px;
    float: left;
}

#chart{
    width: 300px;
    height: 300px;
}

#eee{
    font-size: 35px;
    font-weight: bold;
    padding-top: 30px;
    margin-bottom: 20px;
    padding-left: 30px;
}

#www{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

#www>span{
    font-size: 30px;
}

#line{
    border-top: 1px solid #aaaaaa;
    width: 920px;
    margin-left: 20px;
    float: left;
}

.shvdl{
    margin-top: 25px;
}

#aside {width: 250px; height: 60px; line-height: 60px; font-size: 20px; font-weight: bold; text-align: center; margin-left: 25px; font-size: 25px;}

#size{
    width: 960px;
}

.ran{
    width: 920px;
    height: 120px;
}

#ppgg{
    float: left;
}

#chart2{
    width: 600px;
    height: 300px;
    margin-left: 5px;
}

.outline{
    margin-top: 30px;
}

.vy{
    margin-left: 20px;
    width: 900px;
    border-collapse: collapse;
    text-align: center;
}

.vy tr>td{
    height: 50px;
}

.whwjd{
    width: 120px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="gray" /></svg>');
    background-color: rgba(75, 192, 192, 0.2);
}

.bol{
    font-weight: bold;
}

.akwlakr{
    font-weight: bold;
    background-color: rgba(75, 192, 192, 0.2);
}

#eee2{
    font-size: 35px;
    padding-left: 5px
}

.f-size{
    font-size: 30px;
    padding-left: 35px;
}
.f-size>span{
    font-weight: bold;
    font-size: 38px;
}